<%- include('./includes/header') %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/returnes">Returnes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Return</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container mt-5">
    <h1 class="my-3 text-dark">Add Return</h1>

    <form action="" method="post" id="add-return" class="row my-5" enctype="multipart/form-data">

      <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Returned by</label>
        <select name="vendor_id" class="form-control">
          <option value="">Select an vendor</option>
          <% for(let vendor of vendors ) { %>
            <option value="<%= vendor.id %>">
              <%= vendor %>
            </option>
            <% } %>
        </select>
        <!-- Button to Open the Modal -->

        <button type="button" class="btn btn-primary btn-icon-split my-2" data-toggle="modal" data-target="#myVendor">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New Vendor</span>
        </button>
      </div>

      <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Item</label>
        <select name="item_id" id="item_id" class="form-control">
          <option value="">Select an item</option>
          <% for(let item of items ) { %>
            <option value="<%= item.id %>" >
              <%= item %>
            </option>
            <% } %>
        </select>
        <button type="button" class="btn btn-success btn-icon-split my-2" data-toggle="modal" data-target="#myItem">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New Item</span>
        </button>
      </div>

      <div class='form-group col-6'><label for="quantity">Quantity:</label>
        <input class="form-control" type="number" id="quantity" name="quantity">
      </div>

      <div class='form-group col-6'><label for="price">Price:</label>
        <input class="form-control" type="number" id="price" name="price">
      </div>

      <div class='form-group col-6'><label for="date">Date:</label>
        <input class="form-control" type="datetime-local" id="date" name="date">
      </div>
      <div class='form-group col-6'><label for="remark">Remark:</label>
        <textarea name="remark" class="form-control" id="remark" cols="1" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-secondary my-2 mr-1" id="addItemBtn">Add New Item</button>
      <div class="container my-5" id="itemContainer" style="display: none;">
        <h4 id="userView">Returned item(s)</h4>
        <table id="itemTable" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th colspan="3">Total</th>
              <th id="total" colspan="2"></th>
            </tr>

          </tfoot>
        </table>
      </div>
      <input type="submit" class="btn btn-primary my-2" value="Submit" id="submitBtn">
    </form>
  </div>
  <%- include('./includes/footer') %>
  <%- include('./includes/ajax-vendor') %>
  <%- include('./includes/ajax-item') %>
    <script>
      
      var items = [];
      var itemTable = $('#itemTable tbody');
      var userView = $('#userView');
      var currentDate = new Date();
      $('#date').val(currentDate)
      $('#addItemBtn').click(function () {
        $('#itemContainer').show();
        var item = $('#item_id option:selected').html();
        var item_id = $('#item_id option:selected').val();
        var quantity = $('#quantity').val();
        var remark = $('#remark').val();
        var price = $('#price').val();
        var total_cost = quantity * price;

        //add items to item array
        items.push({ item, quantity, price, total_cost, remark });
        console.log(items);
        //appending items to the table
        itemTable.append(`
          <tr>
            <td>${item}<input type="hidden" name="item_id" value="${item_id}" form="add-return"></td>  
            <td>${quantity}<input type="hidden" name="quantity" value="${quantity}" form="add-return"></td>  
            <td>${price}<input type="hidden" name="price" value="${price}" form="add-return"></td>  
            <td class="total_cost">${total_cost} <input type="hidden" name="total_cost" value="${total_cost}" form="add-return"></td>  
            <td>${remark}<input type="hidden" name="remark" value="${remark}" form="add-return"></td>  
          </tr>
        `);
        // calculating the totals
        var total = 0;
        $('.total_cost').each(function (e, elem) {
          total += Number($(elem).text())
        })
        $('#total').text('').append(total)
        $('#totalVal').val(total)


        //clearing form input
        $('#item').val("");
        $('#quantity').val("");
        $('#price').val("");
        $('#remark').val("");
        $('#item_id option:first').prop('selected', true);

      });


    </script>