<%- include('./includes/header') %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/damages">Damages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Damage</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container mt-5">
    <h1 class="my-3 text-dark">Add Damage</h1>

    <form action="" method="post" id="add-damage" class="row my-5" enctype="multipart/form-data">

      <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Buyer</label>
        <select name="user_id" id="user_id" class="form-control">
          <option value="">Select an user</option>
          <% for(let user of users ) { %>
            <option value="<%= user.id %>">
              <%= user %>
            </option>
            <% } %>
        </select>

        <button type="button" class="btn btn-primary btn-icon-split my-2" data-toggle="modal" data-target="#myUser">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New User</span>
        </button>
      </div>

      <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Item</label>
        <select name="item_id" id="item_id" class="form-control">
          <option value="">Select an item</option>
          <% for(let item of items ) { %>
            <option value="<%= item.id %>">
              <%= item %>
            </option>
            <% } %>
        </select>
        <button type="button" class="btn btn-success btn-icon-split my-2" data-toggle="modal" data-target="#myItem">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New Item</span>
        </button>
      </div>

      <div class='form-group col-4'><label for="quantity">Quantity:</label>
        <input class="form-control" type="number" id="damage_qty" name="quantity">
      </div>

      <div class='form-group col-4'><label for="date">Date:</label>
        <input class="form-control" type="datetime-local" id="date" name="date">
      </div>

      <div class='form-group col-4'><label for="remark">Remark:</label>
        <textarea name="remark" class="form-control" id="damage_remark" cols="1" rows="1"></textarea>
      </div>
      
      <button type="button" class="btn btn-secondary my-2 mr-1" id="addItemBtn">Add New Item</button>
      <div class="container my-5" id="itemContainer" style="display: none;">
        <h4 id="damageView">Damaged item(s)</h4>
        <table id="damageItemTable" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th colspan="">Total</th>
              <th id="total" colspan="2"></th>
            </tr>

          </tfoot>
        </table>
      </div>
      <input type="submit" class="btn btn-primary my-2" value="Submit" id="submitBtn">
    </form>




  </div>
  <%- include('./includes/footer') %>
  <%- include('./includes/ajax-user') %>
  <%- include('./includes/ajax-item') %>
    <script>


      var items = [];
      var damageItemTable = $('#damageItemTable tbody');
      var damageView = $('#damageView');
 
      var currentDate = new Date();
      $('#date').val(currentDate)
      $('#addItemBtn').click(function () {
        $('#itemContainer').show();
        var item = $('#item_id option:selected').html();
        var item_id = $('#item_id option:selected').val();
        var quantity = $('#damage_qty').val();
        var remark = $('#damage_remark').val();
     

        //add items to item array
        items.push({ item, quantity, remark });
        console.log(items);
        //appending items to the table
        damageItemTable.append(`
          <tr>
            <td>${item}<input type="hidden" name="item_id" value="${item_id}" form="add-damage"></td>  
            <td class="quantity">${quantity}<input type="hidden" name="quantity" value="${quantity}" form="add-damage"></td>  
            <td>${remark}<input type="hidden" name="remark" value="${remark}" form="add-damage"></td>  
          </tr>
        `);
        // calculating the totals
        var total = 0;
        $('.quantity').each(function (e, elem) {
          total += Number($(elem).text())
        })
        $('#total').text('').append(total)
        $('#totalVal').val(total)


        //clearing form input
        $('#item').val("");
        $('#damage_qty').val("");
        $('#damage_remark').val("");
        $('#item_id option:first').prop('selected', true);




      });




    </script>