<%- include('./includes/header') %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/consumptions">Consumptions</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Consumption</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container mt-5">
    <h1 class="my-3 text-dark">Add Consumption</h1>

    <form action="" method="post" id="add-consumption" class="row my-5" enctype="multipart/form-data">

      <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Buyer</label>
        <select name="user_id" id="user_id" class="form-control">
          <option value="">Select an user</option>
          <% for(let user of users ) { %>
            <option value="<%= user.id %>">
              <%= user %>
            </option>
            <% } %>
        </select>

        <button type="button" class="btn btn-primary btn-icon-split my-2" data-toggle="modal" data-target="#myUser">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New User</span>
        </button>
      </div>

      <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Item</label>
        <select name="item_id" id="item_id" class="form-control">
          <option value="">Select an item</option>
          <% for(let item of items ) { %>
            <option value="<%= item.id %>">
              <%= item %>
            </option>
            <% } %>
        </select>
        <button type="button" class="btn btn-success btn-icon-split my-2" data-toggle="modal" data-target="#myItem">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New Item</span>
        </button>

        <!-- itemForm modal  -->
        <div class="modal" id="myItem">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

              <div class="modal-header" id="modal-body">
                <h4 class="modal-title">Add New Item</h4>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group col-12 mb-3">
                  <label>Name</label>
                  <input form="itemForm" type="text" name="name" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Desciption</label>
                  <textarea form="itemForm" class="form-control" id="address" name="description" rows="2"></textarea>
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Brand</label>
                  <input form="itemForm" type="text" name="brand" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Model</label>
                  <input form="itemForm" type="text" name="model" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Manufacturer</label>
                  <input form="itemForm" type="text" name="manufacturer" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Usage Mode</label><br />
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input form="itemForm" type="radio" class="form-check-input" name="usage_mode" value="Sale" />Sale
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input form="itemForm" type="radio" class="form-check-input" name="usage_mode"
                        value="Lease" />Lease
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input form="itemForm" type="radio" class="form-check-input" name="usage_mode" value="Use" />Use
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input form="itemForm" type="radio" class="form-check-input" name="usage_mode"
                        value="Consumption" />Consumption
                    </label>
                  </div>
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Cost Price</label>
                  <input form="itemForm" type="text" name="cost_price" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Useful Life</label>
                  <input form="itemForm" type="text" name="useful_life" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Manufacture Date</label>
                  <input form="itemForm" type="date" name="manufacture_date" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Procurement Date</label>
                  <input form="itemForm" type="date" name="procurement_date" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Color</label>
                  <input form="itemForm" type="color" name="color" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Serial Number</label>
                  <input form="itemForm" type="text" name="serial_number" class="form-control" />
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Type</label><br />
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input form="itemForm" type="radio" class="form-check-input" name="type" value="Fixed" />Fixed
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input form="itemForm" type="radio" class="form-check-input" name="type"
                        value="Suppliable" />Suppliable
                    </label>
                  </div>
                </div>
                <div class="form-group col-12 mb-3">
                  <label>Photo</label>
                  <input form="itemForm" type="file" id="photo" name="photo" class="form-control" />
                </div>
              </div>
              <div class="modal-footer">
                <button form="itemForm" type="submit" class="btn btn-primary">
                  Submit
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- itemForm modal  -->
      </div>

      <div class='form-group col-4'><label for="quantity">Quantity:</label>
        <input class="form-control" type="number" id="consumption_qty" name="quantity">
      </div>

      <div class='form-group col-4'><label for="date">Date:</label>
        <input class="form-control" type="datetime-local" id="date" name="date">
      </div>

      <div class='form-group col-4'><label for="remark">Remark:</label>
        <textarea name="remark" class="form-control" id="consumption_remark" cols="1" rows="1"></textarea>
      </div>
      
      <button type="button" class="btn btn-secondary my-2 mr-1" id="addItemBtn">Add New Item</button>
      <div class="container my-5" id="itemContainer" style="display: none;">
        <h4 id="consumptionView">Usable item(s)</h4>
        <table id="consumptionTable" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th colspan="">Total</th>
              <th id="total" colspan="2"></th>
            </tr>

          </tfoot>
        </table>
      </div>
      <input type="submit" class="btn btn-primary my-2" value="Submit" id="submitBtn">
    </form>

    <form class="my-5 form" id="userForm">
      <div class="modal" id="myUser">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header" id="modal-body">
              <h4 class="modal-title">Add New User</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group col-12 mb-3">
                <label>First Name</label>
                <input type="text" name="first_name" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>Last name</label>
                <input type="text" name="last_name" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>Phone Number</label>
                <input type="tel" name="phone" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>DOB</label>
                <input type="datetime-local" name="dob" class="form-control" />
              </div>
              <div class="form-group col-12 mb-3">
                <label>Address</label>
                <textarea class="form-control" id="address" name="address" rows="2"></textarea>
              </div>
              <div class="form-group col-12 mb-3">
                <label>Gender</label><br />
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" value="Male" />Male
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" value="Female" />Female
                  </label>
                </div>
              </div>
              <div class="form-group col-12 mb-3">
                <label>Photo</label>
                <input type="file" id="photo" name="photo" class="form-control" />
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
    </form>


    <form method="post" id="itemForm"></form>


  </div>
  <%- include('./includes/footer') %>
    <script>

      var items = [];
      var consumptionTable = $('#consumptionTable tbody');
      var consumptionView = $('#consumptionView');
 
      var currentDate = new Date();
      $('#date').val(currentDate)
      $('#addItemBtn').click(function () {
        $('#itemContainer').show();
        var item = $('#item_id option:selected').html();
        var item_id = $('#item_id option:selected').val();
        var quantity = $('#consumption_qty').val();
        var remark = $('#consumption_remark').val();
     

        //add items to item array
        items.push({ item, quantity, remark });
        console.log(items);
        //appending items to the table
        consumptionTable.append(`
          <tr>
            <td>${item}<input type="hidden" name="item_id" value="${item_id}" form="add-consumption"></td>  
            <td class="quantity">${quantity}<input type="hidden" name="quantity" value="${quantity}" form="add-consumption"></td>  
            <td>${remark}<input type="hidden" name="remark" value="${remark}" form="add-consumption"></td>  
          </tr>
        `);
        // calculating the totals
        var total = 0;
        $('.quantity').each(function (e, elem) {
          total += Number($(elem).text())
        })
        $('#total').text('').append(total)
        $('#totalVal').val(total)


        //clearing form input
        $('#item').val("");
        $('#consumption_qty').val("");
        $('#consumption_remark').val("");
        $('#item_id option:first').prop('selected', true);




      });




    </script>