<%- include('./includes/header') %>
<div class="container mt-5">
  <h1 class="my-3 text-dark">Add Replacement</h1>
  <form action="" method="post" class="row my-5" enctype="multipart/form-data">
    <div class="form-group col-md-12 col-lg-6 mb-3">
      <label>Item</label>
      <select name="item_id" class="form-control">
        <option value="">Select an item</option>
        <% for(let item of items ) { %>
            <option value="<%= item.id %>"><%= item %></option>                    
        <% } %>
    </select>
    </div>
    <div class="form-group col-md-12 col-lg-6 mb-3">
        <label>Vendor</label>
        <select name="vendor_id" class="form-control">
          <option value="">Select an vendor</option>
          <% for(let vendor of vendors ) { %>
              <option value="<%= vendor.id %>"><%= vendor %></option>                    
          <% } %>
      </select>
    </div>
    <div class="form-group col-md-12 col-lg-6 mb-3">
      <label>Issue</label>
      <textarea name="issue" id="issue" class="form-control" rows="2"></textarea>
    </div>
    <div class="form-group col-md-12 col-lg-6 mb-3">
      <label>Total Amount</label>
      <input type="number" name="total_amount" class="form-control" />
    </div>
    <div class="form-group col-md-12 col-lg-6 mb-3">
      <label>Paid Amount</label>
      <input type="number" name="paid_amount" class="form-control" />
    </div>
    <div class="form-group col-md-12 col-lg-6 mb-3">
      <label>Date</label>
      <input type="date" name="date" class="form-control" />
    </div>
    <div class="form-group col-md-12 col-lg-6 mb-3">
      <label>Remarks</label>
      <textarea name="remark" id="remark" class="form-control" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary col-12">Submit</button>
  </form>
</div>
<%- include('./includes/footer') %>
