<%- include('includes/header') %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/consumptions">Consumptions</a></li>
          <li class="breadcrumb-item active" aria-current="page">All</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-flex">
        <h6 class=" p-2 m-0 font-weight-bold text-primary">Available Consumptions</h6>
        <a href="/add-consumption" class="btn btn-primary float-right ml-auto btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">New Damage</span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">Damaged by</th>
              <th scope="col">Item(s)</th>
              <th scope="col">Date-time</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <% for( let consumption of consumption_groups ) { %>
              <tr>
                <td scope="col"><%- consumption.consumer %></td>
                <td scope="col"><%- consumption.consumptions_description %></td>
                <td scope="col"><%- `${consumption.date?.toDateString()} (${consumption.date?.toLocaleString().split(", ").pop()})` %></td>
                <td scope=" col dropdown">
                    <button class="btn btn-sm btn-outline-success" data-target="#consumptionDetail" data-toggle="modal"
                      onclick="getConsumptionsFromGroup('<%- consumption.id %>', '<%- consumption.consumer %>')"><i class="fas fa-bars"></i></button>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal" id="consumptionDetail">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
           <span id="consumer"></span>'s Transaction History
          </h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive my-2">
            <table class="table table-sm table-hovered consumption_detail" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">S/N</th>
                  <th scope="col">Item</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="2">Total</th>
                  <th scope="col" colspan="2" id="total">Amount paid</th>
                </tr>
              </tfoot>


            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    function getConsumptionsFromGroup(group_id, consumer) {
      console.log("consumer = ", consumer);
      $('#consumer').html(consumer)
      $.ajax({
        type: 'GET',
        url: '/get-consumptions-from-group/' + group_id,
        success: function (itemOuts) {
          console.log('itemOuts = ', itemOuts);
          let total = 0
          let tbodyString = ''
          for (let i = 0; i < itemOuts.length; i++) {
            const element = itemOuts[i];
            tbodyString += `<tr>
              <td>${i + 1}</td>
              <td>${itemOuts[i].item.name}</td>
              <td>${itemOuts[i].quantity} unit(s)</td>
              <td></td>
            </tr>`;
            total += Number(itemOuts[i].quantity);
            console.log(total);            
          }
          $(".consumption_detail tbody").html(tbodyString);
          $('#total').text('').append(total);
        }
      });

    }



  </script>
  <%- include('includes/footer') %>