<%- include('includes/header') %>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/donations">Donations</a></li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
      </ol>
    </nav>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="d-flex">
      <h6 class=" p-2 m-0 font-weight-bold text-primary">Available Donations</h6>
      <a href="/add-donation"
      class="btn btn-primary float-right ml-auto btn-icon-split"
      >
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">New Donation</span>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Vendor</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Cost</th>
            <th scope="col">Date</th>
            <th scope="col">Remarks</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% for( let donation of donations ) { %>

          <tr>
            <td scope="col">
              <%- donation.id %> 
            </td>
            <td scope="col"><%- donation.item %></td>
            <td scope="col"><%- donation.vendor %></td>
            <td scope="col"><%- donation.quantity %></td>
            <td scope="col"><%- donation.unit_cost %></td>
            <td scope="col"><%- donation.date.toDateString() %></td>
            <td scope="col"><%- donation.remark %></td>
            <td scope="col dropdown">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
              >
              </button>
              <ul class="dropdown-menu">
                <li><a href="/donation/<%- donation.id %>/delete " class="dropdown-item"
                  ><i class="fas fa-trash text-danger"></i
                > Delete</a></li>
              </li><a href="/donation/<%- donation.id %>/details " class="dropdown-item"
                  ><i class="fas fa-eye text-success"></i
                > Details</a></li>
                
              </ul>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
